
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @{
            @Html.Partial("~/Views/PartialView/_Sidebar.cshtml");
        }
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" disabled>
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    @{
                        @Html.Partial("~/Views/PartialView/_Topbar.cshtml");
                    }
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">FYI</h6>
                                </div>

                                <div class="card-body">
                                    <div class="bg-faded p-5 rounded">
                                        <section class="page-section">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-5" style="padding-bottom: 15px;">
                                                        <div class="product-item">
                                                            <img class="product-item-img d-flex rounded" src="https://images.ctfassets.net/o2gysnvd04sg/4Dgyb1pPuMai22Ay40qmEC/86ea997bbb40593911a78f70eb6730aa/business-man-and-construction-site-engineer.jpg" style="max-width: 100%; height: auto;" alt="">
                                                        </div>
                                                    </div>

                                                    <div class="col-7">
                                                        <h1>
                                                            Problems related to repair and renovations.
                                                        </h1>
                                                        Now a day people are facing big trouble regarding the construction. We thought to give
                                                        an answer for some questions. In this era people repair and renovate their house same
                                                        some old manner. It is not meant about modernisation of house designing, it’s about easy
                                                        off of Repair and renovation. Now we have to look at what are the question that people
                                                        have.
                                                        <ul>
                                                            <li>
                                                                Every time people went shops to buy some stuff, they are cheated by sellers. For
                                                                this reason they not get quality, best product with right prices.
                                                            </li>
                                                            <li>
                                                                People do renovation without having better understanding or knowledge about the
                                                                construction. Considering this matter,
                                                                <ol>
                                                                    <li>They face accidents</li>
                                                                    <li>Cant renovate or repair as expected</li>
                                                                    <li>Extra work will be remained</li>
                                                                    <li>Extra money will be spent</li>
                                                                </ol>
                                                            </li>
                                                            <li>
                                                                People need to know about new designs, items, and materials available in the
                                                                market because they have to bumming in the town. It is waste of thire valuable time.
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <!-- Force next columns to break to new line at md breakpoint and up -->
                                                    <div class="w-100 d-none d-md-block"></div>

                                                    <div class="col-12">
                                                        <p>
                                                            <h1>
                                                                So how can i help you?
                                                            </h1>
                                                            Strong Home owner is a Web applications' mission is to helps house owner to renovate his
                                                            construction without facing troubles. This application show information about stuff. As a
                                                            example think about you are going to renovate floor of the room. You can see available
                                                            flooring type in the market using this system. There are lot of samples include regarding
                                                            each flooring type. Such that this application explore wide range of flooring, walling, ceiling types and samples.
                                                            Those samples are given by sellers of different shops. Each sample
                                                            consisting with different size, colour, image, design and prices also you can refer available
                                                            shop.
                                                        </p>
                                                        <p>
                                                            Another thing is it stores current details about your house. Example as you are
                                                            willing to store floor information of a room including area of floor, used flooring type and
                                                            sample, sample size, sample image, sample price then it automatically calculate the
                                                            quantity and total price and saved. Next time it is not difficult to see those information in
                                                            the shop or whatever the place was. Also it gives good knowledge and understanding from showing
                                                            you advantage, disadvantage, best use, reusability of each types. Storing of current details available for floorings,
                                                            wallings, ceilings and planing details.
                                                        </p>
                                                    </div>

                                                    <div class="w-100 d-none d-md-block"></div>

                                                    <div class="col-12">
                                                        <p>
                                                            <h1>
                                                                About me
                                                            </h1>
                                                            I am Pasindu, experienced developer. I am giving you web application related solution for issue that we are facing.
                                                            This application is developed for my research related to "CHANGE THE FUTURE OF RENOVATION WHILE KEEPING
                                                            CONSTRUCTION DETAILS". This application covers the informations storing and exploring of construction materials and products.



                                                        </p>
                                                    </div>

                                                    <div class="w-100 d-none d-md-block"></div>

                                                    <div class="col-12">
                                                        <p>
                                                            <h1>
                                                                Contact me
                                                            </h1>
                                                            <ul>
                                                                <li>
                                                                    Phone: +9471 033 7486
                                                                </li>
                                                                <li>
                                                                    Email: pasindumadushan7@gmail.com
                                                                </li>
                                                            </ul>
                                                        </p>
                                                    </div>


                                                </div>
                                            </div>

                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @{
                @Html.Partial("~/Views/PartialView/_Footer.cshtml");
            }
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    @{
        @Html.Partial("~/Views/PartialView/_LogoutModal.cshtml");
    }

</body>

<script src="~/wwwroot/Bootstrap Design/vendor/jquery/jquery.min.js"></script>
<script src="~/wwwroot/Bootstrap Design/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/wwwroot/Bootstrap Design/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/wwwroot/Bootstrap Design/js/sb-admin-2.min.js"></script>
<script src="~/wwwroot/lib/jquery-validation/dist/jquery.validate.js"></script>

